.dash-card {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
  background: var(--secondary-color);
  border-radius: 4px;
  flex: 1;
  box-shadow: var(--box-shadow);
  width: 100%;
}
.d-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.d-info h3 {
  flex: 1;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  font-weight: bold;
}
.d-info p {
  font-weight: bolder;
}

.d-icon {
  display: flex;
  align-items: end;
  width: 50%;
  flex: 1;
}
.d-icon div {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
