.guides-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--secondary-color);
  width: 50%;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  padding: 0.5rem 1rem;
  text-align: left;
  cursor: pointer;
}
.guides-card a {
  width: 100%;
}
.guides-card:hover {
  background: var(--accent-color);
  transition: all 0.2s ease;
}
