.header {
  display: flex;
  width: 100%;
}
.nav {
  display: flex;
  width: 100%;
  min-width: 320px;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 1.2rem;
}
.logo a {
  font-weight: 900;
}

.is-active {
  color: var(--accent-color) !important;
  transition: color 0.2s ease;
}

.nav ul li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: 0.1rem;
}

#mobile-nav {
  display: none;
  align-items: center;
  justify-content: center;
  @media (max-width: 426px) {
    display: flex;
  }
}

#mobile-hidden {
  display: flex;
  @media (max-width: 426px) {
    justify-content: center;
  }
}
