.header {
  display: flex;
  width: 100%;
}
.nav {
  display: flex;
  width: 100%;
  min-width: 320px;
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 1.2rem;
}
.logo a {
  font-weight: 900;
}

.is-active {
  color: var(--primary) !important;
  transition: color 0.2s ease;
}

.nav ul li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav a {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 0.1rem;
  justify-content: center;
}

#mobile-nav {
  display: none;
  align-items: center;
  justify-content: center;
  @media (max-width: 426px) {
    display: flex;
  }
}

#mobile-hidden {
  display: flex;
  @media (max-width: 426px) {
    justify-content: center;
  }
}

.profile-menu {
  position: relative;
  display: flex;
}

.profile-submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  right: -50px;
  top: 100%;
  min-width: 200px;
  min-height: fit-content;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  z-index: 999;
  flex-direction: column;
  transition: all 0.2s ease;
  gap: 1.5rem;
  border-radius: 4px;
  align-self: flex-start;
  transition: all 0.2s ease;
}
@media (max-width: 426px) {
  .profile-submenu {
    position: fixed;
    top: 60px; /* adjust based on your navbar height */
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    align-self: stretch;
    padding: 1rem;
  }
}

.profile-menu:hover .profile-submenu {
  display: flex;
  box-shadow: var(--box-shadow);
}
