.sidebar {
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--background-color);
  inset: 0;
  z-index: 999;
  padding: 1.5rem;
  transform: translateX(-200%);
  transition: all 0.5s ease;
  @media (max-width: 426px) {
    display: flex;
  }
}
.sidebar.show {
  transform: translateX(0);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  margin: 0 auto;
}
.sidebar ul li {
  text-align: left;
}
