.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 6px 10px;
  display: block;
  user-select: none;
  transition: all 0.2s ease;
}

.pagination li a:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.pagination li.active a {
  background-color: var(--accent-color);
  color: #fff;
  border-color: var(--accent-color);
}
