.password-modal {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.password-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  width: 33.3%;
  margin: 0 auto;
  padding: 2.5rem;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}
