.calculator,
.results-display,
.converter {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.6rem;
  width: 30%;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: oklch(0.129 0.042 264.695);

  @media (max-width: 1440px) {
    width: 50%;
  }
  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    max: 60%;
  }
  @media (max-width: 426px) {
    width: 90%;
  }
}
.results-display {
  margin-top: 1rem;
  padding: 2rem 1rem;
}
.results-display {
  text-align: left;
}
.input-group {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  gap: 0.5rem;
}
label {
  color: oklch(0.777 0.152 181.912);
}
input,
select {
  width: 100%;
  max-width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  border-radius: 4px;
}
.w-auto {
  width: auto;
}
.calculator-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  border: 2px solid oklch(0.277 0.046 192.524);
  color: oklch(0.277 0.046 192.524);
  font-weight: 700;
  background-color: oklch(0.984 0.014 180.72);
  width: 30%;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 0.5rem;

  @media (max-width: 1440px) {
    width: 50%;
  }
  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    max: 60%;
    font-size: 12px;
  }
  @media (max-width: 426px) {
    width: 90%;
    font-size: 12px;
  }
}
.info p {
  flex: 1;
}

.active-border {
  border-color: oklch(0.777 0.152 181.912);
}
.group-inline {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;
  max-height: 50px;
}
.button-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.label {
  text-align: left;
  color: oklch(0.777 0.152 181.912);
}

.btn-outline {
  cursor: pointer;
  display: inline-block;
  border: 1px solid oklch(0.777 0.152 181.912);
  color: #ffffff;
  background: transparent;
  padding: 0.3rem 0.6rem;
}

.selected {
  background: oklch(0.777 0.152 181.912);
  transition: all 0.2s ease;
}
.calculation-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.calculation-table th,
.calculation-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.calculation-table th {
  background-color: oklch(0.129 0.042 264.695);
}
.calculation-table tr:nth-child(even) {
  background-color: oklch(0.129 0.042 264.695);
}

.calculation-table tr:hover {
  background: oklch(0.777 0.152 181.912);
  transition: all 0.2s ease-in-out;
}
