.calculator,
.results-display {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  width: 30%;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: oklch(0.205 0 0);
}
.results-display {
  margin-top: 1rem;
  padding: 2rem 1rem;
}
.input-group {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  gap: 0.5rem;
}
label {
  color: oklch(0.777 0.152 181.912);
}
input,
select {
  width: 100%;
  max-width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
}
.w-auto {
  width: auto;
}
.calculator-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border: 2px solid oklch(0.391 0.09 240.876);
  color: oklch(0.391 0.09 240.876);
  font-weight: 700;
  background-color: oklch(0.977 0.013 236.62);
  width: 30%;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 0.5rem;
}
