.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 320px;
  top: 0;
  left: 0;
  flex: 1;
  background: var(--background);
  box-shadow: 2px 0 6px -2px rgba(0, 0, 0, 0.3);
  z-index: 999;
  height: 100%;
  padding: 2rem;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  @media (max-width: 768px) {
    width: 100%;
    box-shadow: none;
  }
}

.show {
  transform: translateX(0);
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (max-width: 768px) {
    margin-left: 3rem;
  }
}

.sidebar-submenu {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.dropdown {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: var(--background-color-color);
  padding: 10px;
  gap: 1rem;
  text-align: left;
  border-radius: 0.5rem;
}
