.task-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  min-height: 100px;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  text-align: left;
}

.tasks-btn-group {
  display: flex;
  gap: 0.3rem;
  margin-top: 1px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.task-span::first-letter {
  text-transform: capitalize;
}
