.user-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--secondary-color);
  width: 40%;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  padding: 0.5rem 1rem;
}
.user-card p {
  text-align: left;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card-info-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
