.task-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 60%;
  margin: 0 auto;
  align-items: flex-start;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  flex: 1;
  padding: 1rem;
}
