.dashboard-wrapper {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 100%;
  padding: 2rem;
  flex: 1;
}

.dash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.dashboard-heading {
  display: flex;
  align-items: start;
  padding: 1rem 2rem;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.dashboard-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: flex-start;
  gap: 0.5rem;
  overflow-x: auto;
}

.dash-row {
  display: flex;
  width: 100%;
  min-height: 200px;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.alert-bg {
  background-color: rgba(255, 117, 124, 0.15);
}
.alert-txt {
  fill: rgb(231, 0, 11);
}
.warning-bg {
  background-color: rgba(245, 170, 73, 0.15);
}
.warning-txt {
  fill: oklch(85.2% 0.199 91.936);
}

.info-bg {
  background-color: rgba(0, 213, 189, 0.15);
}
.info-txt {
  fill: rgb(0, 213, 189);
}

.success-bg {
  background-color:rgba(0, 201, 80, 0.15);
}
.success-txt {
  fill: rgb(0, 201, 80);
}