.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 2rem;
  flex: 1;
}

.dash-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.dashboard-heading {
  display: flex;
  align-items: start;
  padding: 1rem 2rem;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.dashboard-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: flex-start;
  gap: 0.5rem;
  overflow-x: auto;
}

.dash-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  min-height: 200px;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 0 auto;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .dash-row {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .dashboard-wrapper,
  .dash-content {
    padding: 0.5rem;
    width: 100%;
  }
}

.pending-tasks {
  grid-column: span 3;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  text-align: left;
}

.dash-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 14px;
  white-space: normal;
  vertical-align: top;
  color: var(--text-color);
}
.dash-table th,
td {
  padding: 4px 8px;
  text-align: left;
  height: max-content;
}
.dash-table tbody tr {
  cursor: pointer;
  transition: all 0.2s ease;
}

.dash-table tbody tr:hover {
  background-color: var(--third-color);
  color: var(--text-color);
}
.dash-table thead {
  border-bottom: 1px solid gray;
}
.dash-table th {
  font-weight: bold;
}

.users {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  background: var(--secondary-color);
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  text-align: left;
}
.dash-chart {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  text-align: left;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  height: 350px;
  padding: 0.5rem;
}

.pending-tasks a,
.users a {
  font-size: 14px;
}
