.guide-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  margin: 0 auto;
  background: var(--secondary-color);
  padding: 1rem 3rem;
  box-shadow: var(--box-shadow);
  gap: 1rem;
  text-align: left;
}
.guide-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.guide-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1;
  margin: 0 auto;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 1rem;
}

.guide-desc ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5rem;
  list-style: disc;
}
.guide-desc ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5rem;
  list-style: disc;
}

.guide-desc p img {
  width: 100%;
}

.guide-desc pre,
.guide-desc code {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  text-align: left;
  background-color: var(--background-color);
}
