.login-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  margin-inline: auto 0;
  border: none;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 0.5rem;
  width: 100%;
  padding: 5rem;
}
