#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  flex: 1;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.calculator,
.results-display,
.converter,
.login {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.6rem;
  width: 30%;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);

  @media (max-width: 1440px) {
    width: 50%;
  }
  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    max: 60%;
  }
  @media (max-width: 426px) {
    width: 90%;
  }
}
.results-display {
  margin-top: 1rem;
  padding: 2rem 1rem;
}
.results-display {
  text-align: left;
}
.input-group {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  gap: 0.5rem;
}
label {
  color: var(--accent-color);
}
input,
select {
  width: 100%;
  max-width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  border-radius: 4px;
}
.w-auto {
  width: auto;
}
.calculator-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  border: 2px solid oklch(0.277 0.046 192.524);
  font-weight: 700;
  background-color: oklch(0.984 0.014 180.72);
  width: 30%;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 0.5rem;

  @media (max-width: 1440px) {
    width: 50%;
  }
  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    max: 60%;
    font-size: 12px;
  }
  @media (max-width: 426px) {
    width: 90%;
    font-size: 12px;
  }
}
.info p {
  flex: 1;
  color: oklch(0.277 0.046 192.524) !important;
}
.info svg {
  fill: oklch(0.277 0.046 192.524) !important;
}

.active-border {
  border: 1px solid var(--accent-color);
}
.group-inline {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;
  max-height: 50px;
}
.button-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.label {
  text-align: left;
  color: var(--accent-color);
}

.btn-outline {
  cursor: pointer;
  display: inline-block;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  background: transparent;
  padding: 0.3rem 0.6rem;
}

.selected {
  background: var(--accent-color);
  transition: all 0.2s ease;
  color: #fff;
}

.table-wrapper {
  width: 60%;
  margin: 0 auto;
  font-size: 1rem;
  @media (max-width: 1440px) {
    width: 50%;
  }
  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    max: 60%;
  }
  @media (max-width: 426px) {
    width: 90%;
  }
}

.calculation-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
}

.calculation-table th,
.calculation-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: var(--text-color);
}

.calculation-table th {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.calculation-table tr:nth-child(even) {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.calculation-table tr:hover {
  background: var(--accent-color);
  transition: all 0.2s ease-in-out;
}

.settings-btn {
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  outline: none;
}
.active-border {
  border-color: var(--accent-color);
}

#symbol-settings {
  flex-direction: row;
  @media (max-width: 426px) {
    flex-direction: column;
  }
}

/*Calendar styles*/

#date-container {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 1rem;

  @media (max-width: 426px) {
    flex-direction: column;
  }
}

.flatpickr-calendar,
.flatpickr-months {
  background-color: var(--secondary-color) !important;
  color: var(--text-color) !important;
  border-radius: 0px !important;
}
.flatpickr-weekday {
  color: var(--text-color) !important;
}
.numInputWrapper {
  color: var(--text-color) !important;
}
.flatpickr-monthDropdown-months {
  color: var(--text-color) !important;
  background-color: var(--secondary-color) !important;
}

.flatpickr-day {
  color: var(--text-color) !important;
}

.flatpickr-day.selected,
.flatpickr-day:hover {
  background-color: var(--accent-color) !important;
  background: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.flatpickr-next-month svg,
.flatpickr-prev-month svg {
  fill: var(--text-color) !important;
}

.flatpickr-next-month svg:hover,
.flatpickr-prev-month svg:hover {
  fill: var(--accent-color) !important;
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: var(--text-color) !important;
}
.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: var(--text-color) !important;
}

.date-picker-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.date-picker-container input {
  width: 100%;
  padding: 10px;
  padding-right: 35px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  font-size: 16px;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--accent-color) !important; /* Default color */
  cursor: pointer;
  font-size: 16px;
  fill: var(--accent-color) !important;
}
.calendar-icon:hover {
  color: var(--accent-color) !important;
}
/*End Calendar styles*/

/**Modal styles*/
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color) !important;
  z-index: 10;
  min-height: 100%;
}
.modal-container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color) !important;
  min-width: 320px;
  max-width: 768px;
  margin: 16px auto;
  min-height: 100%;
  padding-top: 2rem;
  align-items: start;
  gap: 1rem;
  padding: 2rem 1.5rem;
  padding-top: 0.5rem;
  border: 2px solid #fff;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}
.modal-container p {
  text-align: left;
}
.modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-btn {
  padding: 0.5rem;
  cursor: pointer;
}

.modal-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  list-style: disc;
  list-style-position: inside;
}
.modal-container li {
  text-align: left;
  width: 100%;
}

/*End Modal*/

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: auto;
}
.symbol-list {
  gap: 0;
  width: 30%;
  @media (max-width: 1440px) {
    width: 50%;
  }
  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    max: 60%;
  }
  @media (max-width: 426px) {
    width: 90%;
  }
}
.list-heading {
  width: 30%;
  text-align: left;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  @media (max-width: 1440px) {
    width: 50%;
  }
  @media (max-width: 1024px) {
    width: 60%;
  }
  @media (min-width: 768px) {
    max: 60%;
  }
  @media (max-width: 426px) {
    width: 90%;
  }
}

.symbol-list {
  text-align: left;
  margin: 0 auto;
}

.symbol-list li {
  width: 100%;
  padding: 0.5rem;
}

.symbol-list li:nth-child(even) {
  background-color: var(--secondary-color);
}

/*Loader and spinner*/
.spinner {
  animation: spin 0.8s ease-in-out infinite;
  fill: var(--accent-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  background: var(--background-color);
  min-height: 200px;
  z-index: 999;
}
/*End Loader & spinner*/

.tasks-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 2rem;
  flex: 1;
}

.tasks-header {
  display: flex;
  align-items: start;
  padding: 1rem 2rem;
}
/*quill editor*/
.ql-editor ul {
  display: block; /* or just remove any 'display: flex' */
  padding-left: 1.5em; /* default indent */
  list-style-position: outside; /* default bullet outside */
  gap: initial; /* reset gap if needed */
}
.quill {
  width: 100%;
}
.ql-container {
  min-height: 300px;
  height: auto !important;
  width: 100%;
}
.ql-editor {
  min-height: 250px;
  height: auto;
}
