#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.settings-btn {
  background-color: transparent;
  color: oklch(0.777 0.152 181.912);
  border: none;
  outline: none;
}
