#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  flex: 1;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin-top: auto;
  margin-bottom: 0;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--primary);
  color: var(--primary);
  padding: 6px 10px;
  display: block;
  user-select: none;
  transition: all 0.2s ease;
}

.pagination li a:hover {
  background-color: var(--primary);
  color: #fff;
}

.pagination li.active a {
  background-color: var(--primary);
  color: #fff;
  border-color: var(--primary);
}

/*Calendar styles*/

#date-container {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 1rem;

  @media (max-width: 426px) {
    flex-direction: column;
  }
}

.flatpickr-calendar,
.flatpickr-months {
  background-color: var(--secondary) !important;
  color: var(--foreground) !important;
  border-radius: 0px !important;
}
.flatpickr-weekday {
  color: var(--foreground) !important;
}
.numInputWrapper {
  color: var(--foreground) !important;
}
.flatpickr-monthDropdown-months {
  color: var(--foreground) !important;
  background-color: var(--secondary) !important;
}

.flatpickr-day {
  color: var(--foreground) !important;
}

.flatpickr-day.selected,
.flatpickr-day:hover {
  background-color: var(--primary) !important;
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.flatpickr-next-month svg,
.flatpickr-prev-month svg {
  fill: var(--foreground) !important;
}

.flatpickr-next-month svg:hover,
.flatpickr-prev-month svg:hover {
  fill: var(--primary) !important;
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: var(--foreground) !important;
}
.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: var(--foreground) !important;
}

.date-picker-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.date-picker-container input {
  width: 100%;
  padding: 10px;
  padding-right: 35px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  font-size: 16px;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary) !important; /* Default color */
  cursor: pointer;
  font-size: 16px;
  fill: var(--primary) !important;
}
.calendar-icon:hover {
  color: var(--primary) !important;
}
/*End Calendar styles*/

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary) !important;
  min-width: 320px;
  max-width: 768px;
  margin: 16px auto;
  min-height: 100%;
  padding-top: 2rem;
  align-items: start;
  gap: 1rem;
  padding: 2rem 1.5rem;
  padding-top: 0.5rem;
  border: 2px solid #fff;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}
.modal-container p {
  text-align: left;
}
.modal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal-btn {
  padding: 0.5rem;
  cursor: pointer;
}

.modal-container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  list-style: disc;
  list-style-position: inside;
}
.modal-container li {
  text-align: left;
  width: 100%;
}

/*End Modal*/

/*quill editor*/
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 1px solid var(--color-muted) !important;
  border-radius: var(--radius-md);
  margin-bottom: 4px;
}
.ql-editor ul {
  display: block; /* or just remove any 'display: flex' */
  padding-left: 1.5em; /* default indent */
  list-style-position: outside; /* default bullet outside */
  gap: initial; /* reset gap if needed */
}
.quill {
  width: 100%;
}
.ql-container {
  min-height: 300px;
  height: auto !important;
  width: 100%;
}
.ql-editor {
  min-height: 250px;
  height: auto;
}

.ql-syntax {
  color: var(--foreground);
}

.rte ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5rem;
  list-style: disc;
}
.rte ol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5rem;
  list-style: disc;
}

/*rich text content*/
.rte p img {
  width: 100%;
}

.rte pre,
.rte code {
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  text-align: left;
  background-color: var(--secondary);
}

/*comment editor*/

.comment-editor .ql-container {
  min-height: 80px;
  height: auto !important;
  width: 100%;
}

.comment-editor .ql-editor {
  min-height: 60px;
  height: auto;
}
.comment-editor .ql-editor.ql-blank::before {
  color: var(--color-muted-foreground);
}
