:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: oklch(0.21 0.034 264.665);
  --text-color: rgba(255, 255, 255, 0.87);
  --accent-color: oklch(0.777 0.152 181.912);
  --secondary-color: oklch(0.129 0.042 264.695);
  --box-shadow: 0 2px 5px rgba(0, 213, 190, 0.2);
  color: var(--text-color);
}

.light {
  --background-color: oklch(97% 0.001 106.424);
  --text-color: black;
  --secondary-color: white;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
a {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: var(--text-color);
}
svg {
  fill: var(--text-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-color);

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-color);
}
ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  flex: 1;
}

.flex1 {
  flex: 1;
}
.flex-col {
  flex-direction: column;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,
select,
option {
  background-color: var(--background-color);
  border: inherit;
  outline: inherit;
  box-shadow: inherit;
  color: var(--text-color);
}
input:focus,
select:focus {
  border: 1px solid var(--text-color);
  box-shadow: inset 0 0 0 2px inherit;
  outline: none;
  border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-moz-number-spin-box {
  background: oklch(0.21 0.034 264.665);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: oklch(0.777 0.152 181.912);
  border: 2px solid oklch(0.777 0.152 181.912);
}

input[type="checkbox"]::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="checkbox"]:checked::after {
  display: block;
}
