:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: oklch(14.5% 0 0);
  --text-color: rgba(255, 255, 255, 1);
  --accent-color: oklch(51.4% 0.222 16.935);
  --secondary-color: oklch(21% 0.006 285.885);
  --box-shadow: 0 2px 5px rgb(245, 245, 244, 0.1);
  color: var(--text-color);
}

/*For the theme switch update color directly on the switch component*/

.light {
  --background-color: oklch(98.5% 0 0);
  --text-color: oklch(14.1% 0.005 285.823);
  --secondary-color: oklch(97% 0 0);
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
}

button {
  font-weight: 600;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

button svg {
  fill: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: var(--text-color);
}
svg {
  fill: var(--text-color);
  cursor: pointer;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-color);

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--accent-color);
}
ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  flex: 1;
}

.flex1 {
  flex: 1;
}
.flex-col {
  flex-direction: column;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,
select,
option {
  background-color: var(--secondary-color);
  border: 1px solid rgba(204, 204, 204, 0.5);
  outline: inherit;
  box-shadow: inherit;
  color: var(--text-color);
}
input:focus,
select:focus {
  border: 1px solid var(--accent-color);
  box-shadow: inset 0 0 0 2px inherit;
  outline: none;
  border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-moz-number-spin-box {
  background: oklch(0.21 0.034 264.665);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 2px solid var(--secondary-color);
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

input[type="checkbox"]::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="checkbox"]:checked::after {
  display: block;
}
label {
  text-transform: capitalize;
}

.alert-bg {
  background-color: rgba(255, 117, 124, 0.15);
}
.alert-txt {
  fill: rgb(231, 0, 11);
  color: rgb(231, 0, 11);
}
.warning-bg {
  background-color: rgba(245, 170, 73, 0.15);
}
.warning-txt {
  fill: oklch(85.2% 0.199 91.936);
  color: oklch(85.2% 0.199 91.936);
}

.info-bg {
  background-color: rgba(0, 213, 189, 0.15);
}
.info-txt {
  fill: rgb(0, 213, 189);
  color: rgb(0, 213, 189);
}

.success-bg {
  background-color: rgba(0, 201, 80, 0.15);
}
.success-txt {
  fill: rgb(0, 201, 80);
  color: rgb(0, 201, 80);
}
